<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="./../../../lib/mint-ui/style.css">
	<link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../../common/css/jas-main.css">
</head>
<style>

</style>

<body>
	<div class="_outer-wrapper" v-cloak>
		<jas-header :title="title" :right-icon="isBarcode? 'fa fa-qrcode' :''" @clickright="clickright"></jas-header>
		<div v-setheight style="overflow: auto;">
			<jas-form-items-group ref="mainForm" :fields-group="fieldsGroup" :fields-config="fieldsConfig" :form="form" @resetform="resetFormByType"></jas-form-items-group>

			<jas-file-group v-show="fieldsGroup.length>0" is-edit="true" ref="files"></jas-file-group>
			<mt-popup v-model="popupVisible" popup-transition="popup-fade">
				<div style="min-height:200px; width:80vw;padding:10px 0;">
					<jas-group title="管材信息">
						<div style="padding: 0 10px;">
							<template v-if=" barcodeType=='Z'">
								<jas-detail-field v-for="item,index in pipeLabels" :label="item" :value="barcodeValues[index]"></jas-detail-field>
							</template>
							<template v-if="barcodeType=='RW'">
								<jas-detail-field v-for="item,index in hotPipeLabels" :label="item" :value="barcodeValues[index]"></jas-detail-field>
							</template>
						</div>
					</jas-group>
					<div style="text-align: right;padding: 0 10px;">
						<!-- <mt-button type="primary" style="margin-right:6px;" @click.native="popupVisible=false" size="small">取消</mt-button> -->
						<mt-button type="primary" v-if="formType == 'coating_pipe'" @click.native="addPipeCode('pipe_oid')" size="small">填入钢管信息</mt-button>
						<mt-button type="primary" v-if="formType == 'hot_bends'" @click.native="addPipeCode('hot_bends_oid')" size="small">填入弯管信息</mt-button>
						<mt-button type="primary" v-if="formType == 'pipe_cold_bending'" @click.native="addPipeCode('pipeColdBendingOid')" size="small">填入冷弯管信息</mt-button>
						<mt-button type="primary" v-if="formType == 'construction_weld'" style="margin-right:5px;" @click.native="addPipeCode('frontPipeOid')"
						 size="small">填入前管件信息</mt-button>
						<mt-button type="primary" v-if="formType == 'construction_weld'" @click.native="addPipeCode('backPipeOid')" size="small">填入后管件信息</mt-button>
					</div>
				</div>
			</mt-popup>

		</div>
		<jas-button-footer :is-return="true" :buttons="[ '保存']" :buttons-color="[ '']" @click="saveBtn"></jas-button-footer>
	</div>
</body>
<script src="./../../../appcan/js/appcan.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/mint-ui/index.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./../../../common/js/data-base-operation.js"></script>
<script src="./../../user-center/data-sync/local-server.js"></script>
<script src="./fields-config.js"></script>

<script>
	window.vm = new Vue({
		el: '._outer-wrapper',
		data: function () {
			var that = this;
			return {
				popupVisible: false,
				title: '数据录入',
				formType: '',
				formStatus: '本地新增',
				value: '',
				fieldsGroup: [],
				fieldsConfig: {},
				form: {},
				isOnline: false,
				isAgain: false,
				isBarcode: false,
				barcodeType: '', // Z : 线路管材 ,  RW : 	感应加热弯管
				barcodeValues: [],
				// pipeLabels: ['钢管编号', '炉批号', '管径*壁厚', '长度(m)', '重量(t)', '钢材等级', '钢管成型方式', '钢管生产厂家', '外防腐类型',
					// '防腐加工厂家', '出厂时间'
				// ],
				pipeLabels: ['钢管编号', '管径*壁厚', '钢管成型方式', '钢材等级', '长度(m)', '重量(t)','炉批号','外防腐类型','钢管生产厂家',
				    '防腐加工厂家', '出厂时间'
                ],
				//'二维码标识', '项目编码',

				// hotPipeLabels: ['弯管编号', '炉批号', '管径*壁厚', '管材等级', '长度(m)', '曲线长度', '钢管成型方式', '弯制角度', '弯管生产厂家',
					// '外防腐类型', '出厂时间'
				// ],
				hotPipeLabels: ['弯管编号', '管径*壁厚', '钢管成型方式', '管材等级', '长度(m)', '曲线长度', '弯制角度', '外防腐类型', '弯管生产厂家', '出厂时间'
                ],
				// '维码标识', '项目编码',
				editInit: false,//用于表示编辑初始化
				ruleObj: null//
			}
		},
		watch: {
			'form.sequenceNumberFirst': {
				handler: function (oldValue, newValue) {
					var that = this;
					if (that.form.sequenceNumberFirst != null) {
						var value = (Array(3).join(0) + that.form.sequenceNumberFirst).slice(-3);
						that.form.sequenceNumberFirst = value;
					}
				},
				deep: true
			},
			form: {
				handler: function (oldValue, newValue) {
					var that = this;
					if (that.module == "construction_weld" && !that.ruleObj) {
						this._getWeldRuleByProjectOid();
						return;
					}
					var weldCode = "";
					for (var key in that.ruleObj) {
						weldCode += that._getValueById(key, newValue[key]);
					}
					if (weldCode) that.form.weldCode = weldCode.substring(1, weldCode.length);
				},
				immediate: true,
				deep: true
			}
		},
		mounted: function () {
			var that = this;
			appcan.ready(function () {
				var oParam = jasTools.base.getParamsInUrl();
				that.setFormStatus(oParam);
				that.setVueConfigData(oParam, FieldsConfig);
				setTimeout(function () { // 在表单项加载完成后进行，数据装载
					if (that.formStatus !== '本地新增') {
						that.editInit = true;
						that.getDetail(that.oid);
					} else {
						that.resetForm();
					}
				}, 300);
			});
		},
		methods: {
			clickright: function () {
				var that = this;
				if (!this.isBarcode) return;
				try{
				   uexJasScanner.open(function (err, info) {
                        var aInfo = info.split(';');
                        if (aInfo.length < 3) {
                            that.$toast('错误的二维码信息');
                            return;
                        }
                        that.barcodeType = aInfo[0];
                        aInfo.shift();
                        aInfo.shift();
                        that.barcodeValues = aInfo;
                        if (that.formType == 'construction_weld') { // 只在汉口记录模块显示 信息窗口
                            that.popupVisible = true;
                        } else {
                            if (that.formType == 'coating_pipe') var name = 'pipe_oid';
                            if (that.formType == 'hot_bends') var name = 'hot_bends_oid';
                            if (that.formType == 'pipe_cold_bending') var name = 'pipeColdBendingOid';
                            that.addPipeCode(name);
                        }
                    }); 
				}catch(e){
				    alert(e);
				}
			},
			addPipeCode: function (name) { // 字段名称
				var that = this;
				that.popupVisible = false;
				var setValues = function () {
					that.$indicator.close();
					var code = that.barcodeValues[0];
					var options = that.fieldsConfig[name] && that.fieldsConfig[name].options;
					var arr = options.filter(function (item) {
						return item.label == code || item.label == code + '-LW';
					});
					if (arr.length > 0) {
						var value = arr[0] && arr[0].value;
						that.form[name] = value;
						// var pipeSize = that.barcodeValues[2].split('*');
						// if (that.form.hasOwnProperty('pipeDiameter')) that.form['pipeDiameter'] = pipeSize[0];
						// if (that.form.hasOwnProperty('wallThickness')) that.form['wallThickness'] = pipeSize[1];
						// if (that.form.hasOwnProperty('pipeLength')) that.form['pipeLength'] = that.barcodeValues[3];
						var pipeSize = that.barcodeValues[1].split('*');
						if (that.form.hasOwnProperty('pipeDiameter')) that.form['pipeDiameter'] = pipeSize[0];
						if (that.form.hasOwnProperty('wallThickness')) that.form['wallThickness'] = pipeSize[1];
						if (that.form.hasOwnProperty('pipeLength')) that.form['pipeLength'] = that.barcodeValues[4];
						that.$toast('填入成功');
					} else {
						that.form[name] = undefined;
						that.$toast('未找到该管材');
					}
				};

				if (this.formType == 'construction_weld') {
					that.$indicator.open({
						spinnerType: 'fading-circle'
					});
					var typeValue = this.barcodeType == 'Z' ? 'pipe_type_code_001' : 'pipe_type_code_002';
					if (this.barcodeType == 'Z') { // 检查直管是否被冷弯，重新设定 管件类型
						localServer.materialPipe.isColdBending({
							pipeCode: that.barcodeValues[0]
						}, function (data) {
							if (data.isColdBend) {
								typeValue = 'pipe_type_code_008'
							}
							var typeName = name == 'frontPipeOid' ? 'frontPipeType' : 'backPipeType';
							if (typeName == 'backPipeType') { // 后管件的类型值+1
								typeValue = typeValue + '1';
							}
							that.form[typeName] = typeValue; // 设定之后，触发本地请求下拉选
							setTimeout(function () { // 等待请求成功之后再设定操作
								setValues();
							}, 400);
						});
					} else {
						var typeName = name == 'frontPipeOid' ? 'frontPipeType' : 'backPipeType';
						if (typeName == 'backPipeType') { // 后管件的类型值+1
							typeValue = typeValue + '1';
						}
						that.form[typeName] = typeValue;
						setTimeout(function () {
							setValues();
						}, 400);
					}

				} else {
					setValues();
				}
			},
			resetForm: function () {
				var that = this;
				for (var key in this.form) {
					if (this.fieldsConfig[key] && this.fieldsConfig[key].placeholder === '请选择是否合格') {
						this.form[key] = this.fieldsConfig[key].options[0].value;
					}
				}
				if (status == '本地新增') {
					that.oid = that.form.oid = jasTools.base.createuuid();
				}
				that.form.project_oid = localStorage.getItem("defaultProject");
				that.form.projectOid = localStorage.getItem("defaultProject");
			},
			setFormStatus: function (oParam) { // 获取当前表单的操作类型
				// oid	isOnline	isAgain	分类					保存
				//1 空			              本地新增			 -------，新增本地，有无网络，新增服务器，是否删除本地，再录一条
				//2 有	  0  	      1  	  本地再来一条	 本地查询，新增本地，有无网络，新增服务器，是否删除本地，再录一条
				//3 有	  1  	      1  	  网上再来一条	 网上查询，新增本地，有无网络，新增服务器，是否删除本地，再录一条
				//4 有	  0  	      0  	  本地编辑			 本地查询，更新本地，有无网络，新增服务器，是否删除本地，再录一条
				//5 有	  1  	      0  	  网上编辑			 网上查询，-------，-------，更新服务器

				if (!oParam.oid) this.formStatus = '本地新增';
				if (oParam.oid && oParam.isOnline == 0 && oParam.isAgain == 1) this.formStatus = '本地再来一条';
				if (oParam.oid && oParam.isOnline == 1 && oParam.isAgain == 1) this.formStatus = '网上再来一条';
				if (oParam.oid && oParam.isOnline == 0 && oParam.isAgain == 0) this.formStatus = '本地编辑';
				if (oParam.oid && oParam.isOnline == 1 && oParam.isAgain == 0) this.formStatus = '网上编辑';
				// this.$toast(this.formStatus);
				return this.formStatus;
			},
			setVueConfigData: function (oParam, FieldsConfig) {
				var tableMap = {
					coating_pipe: 'checkCoatingPipe',
					hot_bends: 'checkHotBends',
					pipe_cold_bending: 'checkPipeColdBending',
					construction_weld: 'constructWeld',
					rework_weld: 'reworkWeld',
					measured_result: 'weldMeasured',
					anticorrosion_check: 'anticorrosionCheck',
				};
				if (['coating_pipe', 'hot_bends', 'pipe_cold_bending', 'construction_weld'].indexOf(oParam.title) > -1) {
					this.isBarcode = true;
				}
				this.table = tableMap[oParam.title];
				this.formType = oParam.title;
				var config = FieldsConfig[oParam.title];

				this.module = oParam.title;
				this.title = config.title;
				// 请求路径
				this.detailUrl = config.detailUrl;
				this.addUrl = config.addUrl;
				this.updateUrl = config.updateUrl;

				this.fieldsGroup = config.fieldsGroup;
				this.fieldsConfig = FieldsConfig.methods.formatConfig(config.fieldsConfig);
				this.form = FieldsConfig.methods.formatForms(this.fieldsGroup);
				this.oid = this.form.oid = oParam.oid;
			},
			getDetail: function (oid) { //本地查询,网上查询
				var that = this;
				var status = this.formStatus;
				if (status == '本地再来一条' || status == '本地编辑') {
					localServer[this.table].query({
						oid: oid
					}, function (data) {
						if (data.status == 1 && data.rows.length > 0) {
							var newForm = data.rows[0];

							// that.form.history = data.rows[0]; //存储历史的数据 用于进行改变焊口状态
							if (status == '本地编辑') {
								that.form = newForm;
								//本地编辑的时候 需要传入 history
								var obj = {};
								for (var key in that.form) {
									obj[key] = that.form[key];
								}
								that.form.history = obj;
								//编辑时候 需要存入历史数据
								that.form.isUpdate = true;
								that.$refs.files.files = that.form.attachment;
							}
							if (status == '本地再来一条') {
								that.oid = that.form.oid = jasTools.base.createuuid();
								that.form = that.resetFormValue(newForm);
							}
						}
					})
				}
				if (status == '网上再来一条' || status == '网上编辑') {
					// var url = '/map/commonData/F000030/get.do';
					// var url = '/jdbc/commonData/constructionWeld/getPage.do';

					jasTools.ajax.post(this.detailUrl, {
						oid: oid
					}, function (data) {
						var newForm = data.data || data.rows[0];

						// that.form.history = data.data || data.rows[0]; //存储历史的数据 用于进行改变焊口状态
						if (status == '网上编辑') {
							that.form = newForm;
							var obj = {};
							for (var key in that.form) {
								obj[key] = that.form[key];
							}
							that.form.history = obj;
							that.form.isUpdate = true;
							that.$refs.files.requestFile(oid);
						}
						if (status == '网上再来一条') {
							that.oid = that.form.oid = jasTools.base.createuuid();
							that.form = that.resetFormValue(newForm);
						}
					});
				}
			},
			resetFormValue: function (newForm) {

				for (var key in this.form) {
					if (this.fieldsConfig[key] && this.fieldsConfig[key].placeholder === '请选择是否合格') {
						this.form[key] = this.fieldsConfig[key].options[0].value;
					}
				}

				for (var key in newForm) {
					if (newForm.hasOwnProperty(key)) {
						if (this.fieldsConfig[key] && this.fieldsConfig[key].isAgain) {
							this.form[key] = newForm[key];
						}
					}
				}



				return this.form;
			},
			saveToLocal: function (fnSuccess, fnfail) { // 新增本地，更新本地
				var that = this;
				that.form.attachment = that.$refs.files.files;
				that.form.oid = that.form.oid ? that.form.oid : jasTools.base.createuuid();
				var operation = this.formStatus === '本地编辑' ? 'update' : 'save';
				that._formatForm();
				var obj = that.$refs.mainForm.getSelectLabelValues();
				jasTools.base.extend(that.form, obj);
				// alert(JSON.stringify(that.form, 4, 4))
				localServer[that.table][operation](that.form, function (data) {
					// alert("本地保存成功" + JSON.stringify(data));
					if (data.status == 1) {
						fnSuccess && fnSuccess(data);
					} else {
						fnfail && fnfail(data);
					}
				});


			},
			deleteAnduploadFiles: function (sBizId, fnSuccess, fnfail) {
				var that = this;
				var upload = function () {
					var aFiles = that.form.attachment && that.form.attachment.map(function (item) {
						return item.src;
					}).filter(function (item) {
						return item;
					});
					if (aFiles && aFiles.length > 0) {
						jasTools.ajax.uploadFiles(sBizId, {
							file: aFiles
						}, function () {
							fnSuccess && fnSuccess();
						}, function () {
							fnSuccess && fnSuccess(); // 附件上传失败依然执行成功方法
						});
					} else {
						fnSuccess && fnSuccess();
					}
				};
				var aDelete = that.$refs.files.filesToBeDelete;
				if (aDelete && aDelete.length) {
					jasTools.ajax.get("/attachment/delete.do", {
						oids: aDelete.join(',') //that.$refs.files.filesToBeDelete
					}, function (data) {
						upload();
					}, function () {
						upload();
					});
				} else {
					upload();
				}
			},
			saveToServer: function (fnSuccess, fnfail) {
				var that = this;
				var uploadToServer = function () {
					var url = that.formStatus == '网上编辑' ? that.updateUrl : that.addUrl;
					that.form.attachment = that.$refs.files.files;
					that._formatForm();
					// var obj = that.$refs.mainForm.getSelectLabelValues();
					// alert(JSON.stringify(obj, 4, 4))
					// jasTools.base.extend(that.form, obj);

					jasTools.ajax.postByOldWay(url, that.form, function (data) {
						var sBizId = data.data || that.oid;
						that.UploadOid = data.data;
						that.deleteAnduploadFiles(sBizId, function () {
							fnSuccess && fnSuccess();
						});
					}, function (data) {
						fnfail && fnfail(data);
					}, true);
				};

				if (this.formStatus == '网上编辑') {
					uploadToServer();
				} else {
					appcan.device.getInfo(13, function (err, data, dataType, optId) { // -1 网络不可用 0  WIFI网络 1  3G网络 2  2G网络
						if (JSON.parse(data).connectStatus > -1) { // 有网
							uploadToServer();
						} else { // 无网
							fnfail && fnfail();
						}
					})
				}
			},
			deleteLocalForm: function (callback) {
				localServer[this.table].delete({
					oid: this.form.oid
				}, function (data) {
					callback && callback();
				});
			},

			saveBtn: function (index) {
				var that = this;
				var result = this.$refs.mainForm.validate();
				if (!result) return;
				that.$indicator.open({
					text: '正在保存数据...',
					spinnerType: 'fading-circle'
				});
				if (this.formStatus == '网上编辑') {
					that.saveToServer(function () { //server success
						if (that.table == "weldMeasured") {//中线测量  进行管子状态的修改
							var objArray = [];
							objArray.push(that.form);
							localServer.weldMeasured.changeIsMeasure("update", objArray, function () {
								that.handleResult('网上编辑成功');
							});
						} else {
							that.handleResult('网上编辑成功');
						}
						//调用方法
					}, function (data) {
						that.handleResult('网上编辑失败', (data && data.msg) || '');
					});
				} else {
					this.saveToLocal(function () { // local success
						that.saveToServer(function () { //server success
							that.deleteLocalForm();
							that.handleResult('网上新增成功');
						}, function (data) { //server fail
							// alert(JSON.stringify(data, 4, 4))
							that.handleResult('本地成功', (data && data.msg) || '');
						});
					}, function () { // local fail
						that.handleResult('本地失败');
					});
				}


			},
			handleResult: function (type, info) { // 本地失败,本地成功,网上新增成功,网上编辑成功,网上编辑失败
				var that = this;
				setTimeout(function () {
					that.$indicator.close();
				}, 0);
				if (type == '本地失败') {
					that.$messagebox({
						title: '保存失败',
						message: '与本地数据冲突，请检查相关选项是否被重复录入',
					});
				}
				if (type == '网上编辑成功') {
					that.$indicator.close();
					that.$toast('保存成功');
					that._closePage(300);
				}
				if (type == '网上编辑失败') {
					that.$indicator.close();
					that.$toast('保存失败，' + info);
				}
				if (type == '网上新增成功') {
					this.$messagebox({
						title: '保存到服务器',
						message: '数据已经保存到服务器，是否再录一条?',
						confirmButtonText: '再录一条',
						cancelButtonText: '返回',
						showCancelButton: true,
						closeOnClickModal: false
					}).then(function (action) {
						if (action === 'confirm') {
							var url = jasTools.base.setParamsToUrl('form.html', {
								title: that.module,
								oid: that.UploadOid || that.oid,
								isAgain: 1,
								isOnline: 1
							});
							appcan.window.open('form' + new Date().getTime(), url, 10, 16, 0, 0, 0);
							that._closePage(300);
						} else {
							that._closePage(300);
						}
						if (that.formStatus == '本地编辑') {
							appcan.window.evaluateScript('collection-detail', 'appcan.window.close()')
						}
					});
				}
				if (type == '本地成功') {
					(info.indexOf('<br') == -1) && (info += '<br/>');
					this.$messagebox({
						title: '保存到本地',
						message: info + '数据已经保存到手机本地，是否再录一条?',
						confirmButtonText: '再录一条',
						cancelButtonText: '返回',
						showCancelButton: true,
						closeOnClickModal: false
					}).then(function (action) {
						if (action === 'confirm') {
							var url = jasTools.base.setParamsToUrl('form.html', {
								title: that.module,
								oid: that.oid,
								isAgain: 1,
								isOnline: 0
							});
							appcan.window.open('form' + new Date().getTime(), url, 10, 16, 0, 0, 0);
							that._closePage(300);
						} else {
							that._closePage(300);
						}
					});
				}
			},
			_closePage: function (time) {
				time = time || 0;
				setTimeout(function () {
					appcan.window.close();
				}, time);
			},
			_formatForm: function () {
				this.form.approveStatus = 0;
				this.form.approve_status = 0;
			},
			resetFormByType: function (type) {
				var that = this;
				if (type == 'measure_control_point_type_code_001') {
					if (!that.editInit) that.isClearFiled();
					that.fieldsConfig.measureControlPointCode.disabled = true;//测量控制点编号
					that.fieldsConfig.bendingOid.disabled = true;//弯管编号置灰
					that.fieldsConfig.weldOid.disabled = false;
					that.fieldsConfig.measureControlPointCode.required = false;//测量控制点编号
					that.fieldsConfig.bendingOid.required = false;//弯管编号置灰
					that.fieldsConfig.weldOid.required = true;
				}
				if (type == 'measure_control_point_type_code_002') {
					if (!that.editInit) that.isClearFiled();
					that.fieldsConfig.measureControlPointCode.disabled = false;//测量控制点编号
					that.fieldsConfig.bendingOid.disabled = false;//弯管编号置灰
					that.fieldsConfig.weldOid.disabled = true;
					that.fieldsConfig.measureControlPointCode.required = true;//测量控制点编号
					that.fieldsConfig.bendingOid.required = false;//弯管编号
					that.fieldsConfig.weldOid.required = false;
				}
				if (type == 'measure_control_point_type_code_003') {
					if (!that.editInit) that.isClearFiled();
					that.fieldsConfig.measureControlPointCode.disabled = false;//测量控制点编号
					that.fieldsConfig.bendingOid.disabled = true;//弯管编号置灰
					that.fieldsConfig.weldOid.disabled = true;
					that.fieldsConfig.measureControlPointCode.required = true;//测量控制点编号
					that.fieldsConfig.bendingOid.required = false;//弯管编号置灰
					that.fieldsConfig.weldOid.required = false;
				}
				that.editInit = false;
			},
			isClearFiled: function () {
				var that = this;
				that.form.weldOid = "";
				that.form.medianStakeCode = "";
				that.form.relativeMileage = "";
				that.form.measureControlPointCode = "";
				that.form.bendingOid = "";
			},
			setValue: function (field, value) {
				this.$set(this.fieldsConfig, field, value);
			},
			_getWeldRuleByProjectOid: function () {//根据项目id获取当前的编码规则
				var that = this;
				var obj = {
					projectOid: that.form.projectOid
				};
				if (that.form.projectOid) {
					localServer.weldCodeRegular.get(obj, function (data) {
						if (data.rows.length > 0) {
							that.ruleObj = {};
							data.rows[0].value.split("-").forEach(function (item, index) {
								that.fieldsConfig[item].required = true;
								if (item == "sequenceNumberFirst") {
									that.ruleObj.sequenceNumberFirst = index;
									that.fieldsConfig.airflowDirection.required = true;
								} else {
									that.ruleObj[item] = index;
								}
							});
						} else {
							that.fieldsConfig.weldCode.disabled = false;
						}
						
					})
				}
			},
			_getValueById: function (key, id) {//根据
				var that = this;
				var result = "";
				var domainMap = {
					projectOid: {
						code: "code"
					},
					weldType: {
						valueKey: {
							"weld_type_code_001": "M",
							"weld_type_code_002": "LT",
							"weld_type_code_003": "LS",
							"weld_type_code_004": "LJ"
						}
					},
					weldMethod: {
						valueKey: {
							"welding_method_temp_code_001": "S",
							"welding_method_temp_code_002": "B",
							"welding_method_temp_code_003": "Q"
						}
					},
					constructUnit: {
						code: "unitCode"
					},//施工单位
					workUnitOid:{
					    code:"code"
					},
					medianStakeOid:{
					    
					},
				};
				var options = that.fieldsConfig[key].options;
				if (options.length == 0) {
					if (key == "sequenceNumberFirst" && that.form.sequenceNumberFirst) {
						var direction = that.form.airflowDirection ? "+" : "-";
						result = direction + "" + that.form.sequenceNumberFirst;
						if (that.form.sequenceNumberSecond==0||that.form.sequenceNumberSecond) {
							result += "+" + that.form.sequenceNumberSecond
						}
					} else {
						value = that.form[key];
					}
				} else {
					options.forEach(function (item) {
						if (item.value == id && that.form[key]) {
							if (key == "weldType" || key == "weldMethod") {
								result += "-" + domainMap[key].valueKey[item.value];
							} else {
							    if(item.option){
							        var value=domainMap[key].code?item.option[domainMap[key].code]:item.label;
							        result += "-" +value ; 
							    }else{
							        result += "-"+item.label; 
							    }
							}
						}
					});
				}
				return result;
			},
		}
	});

</script>

</html>